<p-dialog
  [(visible)]="visible"
  modal
  header="{{ form.get('id')?.value ? 'Edit Service' : 'Add Service' }}"
  [style]="{ width: '500px' }"
  (onHide)="onClose()"
>
  <form [formGroup]="form" class="flex flex-col gap-6 w-full">

    <p-floatlabel variant="in">
      <input pInputText id="name" formControlName="name" autocomplete="off" fluid />
      <label for="name">Service Name *</label>
      <p-message *ngIf="form.get('name')?.invalid && form.get('name')?.touched" severity="error" variant="simple" size="small">
        Service name is required
      </p-message>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <textarea pTextarea id="description" formControlName="description" rows="4" style="resize: none" class="h-full" fluid></textarea>
      <label for="description">Description *</label>
      <p-message *ngIf="form.get('description')?.invalid && form.get('description')?.touched" severity="error" variant="simple" size="small">
        Description is required
      </p-message>
    </p-floatlabel>
    <div class="flex items-center gap-3 w-full">

        <div class="flex-1">
            <p-floatlabel variant="in">
                <p-dropdown inputId="service_type_id" variant="filled" formControlName="service_type_id" optionLabel="value"  [options]="serviceTypes" fluid />
                <label for="service_type_id">Service Type *</label>
                <p-message *ngIf="form.get('service_type_id')?.invalid && form.get('service_type_id')?.touched" severity="error"
                    variant="simple" size="small">
                    Service type is required
                </p-message>
            </p-floatlabel>
        </div>
        <div class="flex-[0.5]">
            <div class="flex items-center gap-3">
                <label for="active" class="font-medium text-sm">Active</label>
                <p-inputSwitch inputId="active" [trueValue]="1" [falseValue]="0"  formControlName="active" />
            </div>
        </div>
    </div>

    <p-floatlabel variant="in">
      <p-inputNumber inputId="rate" formControlName="rate" mode="decimal" [min]="0" [showButtons]="true"  fluid/>
      <label for="rate">Rate *</label>
      <p-message *ngIf="form.get('rate')?.invalid && form.get('rate')?.touched" severity="error" variant="simple" size="small">
        Rate must be a non-negative number
      </p-message>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-inputNumber inputId="vat_percentage" formControlName="vat_percentage" mode="decimal" [min]="0" [showButtons]="true"  fluid/>
      <label for="vat_percentage">VAT Percentage *</label>
      <p-message *ngIf="form.get('vat_percentage')?.invalid && form.get('vat_percentage')?.touched" severity="error" variant="simple" size="small">
        VAT Percentage must be a non-negative number
      </p-message>
    </p-floatlabel>




  </form>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancel" class="p-button-text" (click)="onClose()"></button>
    <button pButton type="button" label="Save" [disabled]="form.invalid" (click)="onSave()"></button>
  </ng-template>
</p-dialog>
