<h2 class="text-2xl font-semibold mb-4">Company Payments</h2>

<p-toolbar styleClass="mb-6">
<!--       Fields Input-->
    <ng-template #start>
        <form [formGroup]="formGroup">
            <div class="flex flex-row gap-3 justify-start">
                <div class="w-auto">
                    <p-auto-complete
                        [required]="true"
                        inputId="id"
                        [dropdown]="true"
                        [suggestions]="filteredCompanies ?? []"
                        (completeMethod)="filterCompany($event)"
                        field="name"
                        class="w-full"
                        (onSelect)="onCompanySelect($event)"
                        placeholder="Select Company"
                    ></p-auto-complete>
                </div>
                <div class="w-auto">
                    <p-date-picker
                        formControlName="fromDate"
                        inputId="fromDate"
                        placeholder="From Date"
                        dateFormat="yy-mm-dd"
                        icon="pi pi-calendar"
                        showIcon
                        class="w-full"
                    ></p-date-picker>

                </div>
                <div class="w-auto">
                    <p-date-picker
                        formControlName="toDate"
                        inputId="toDate"
                        placeholder="To Date"
                        dateFormat="yy-mm-dd"
                        icon="pi pi-calendar"
                        showIcon
                        class="w-full"
                    ></p-date-picker>
                </div>

            </div>
        </form>
    </ng-template>
<!--Load button-->
    <ng-template #end>
        <p-button label="Load" icon="pi pi-refresh" iconPos="right"
                  (onClick)="loadPayments()"
                  [disabled]="formGroup.invalid || loading"
        />
    </ng-template>
</p-toolbar>

<!--Add payment card-->
<div class="flex-col pb-2">

    <div class="w-full flex justify-end pb-2" *hasPermission="CompanyPayments.CREATE">
        <p-button label="Add Payment" [icon]="'pi pi-plus'" (onClick)="openAddPaymentCard()"></p-button>
    </div>

    <p-card *ngIf="showAddPaymentCard" class="rounded-sm shadow-none" [styleClass]="'shadow-none'"  @accordionToggle>
        <ng-template #title>
            <div class="flex items-center justify-between">
                <span>Add Payment</span>
                <button type="button" class="p-button p-button-text p-button-sm" (click)="onCardClose()"
                        aria-label="Close">
                    <i class="pi pi-times"></i>
                </button>
            </div>
        </ng-template>

        <!-- Payment date-->
        <div class="flex gap-4 mt-1 justify-between">
            <div class="min-w-[200px]">
                <p-iftalabel>
                    <p-select
                        [required]="true"
                        inputId="id"
                        optionLabel="visible_value"
                        class="w-full"
                        placeholder="Select Payment Method"
                        [options]="paymentMethods"
                        [(ngModel)]="selectedPaymentMethod"
                    ></p-select>
                    <label for="paymentDate">Payment Method</label>
                </p-iftalabel>
            </div>

            <div class="w-auto">
                <p-iftalabel>
                    <p-date-picker
                        name="paymentDate"
                        [(ngModel)]="paymentDate"
                        placeholder="Payment Date"
                        dateFormat="yy-mm-dd"
                        [showTime]="true"
                        icon="pi pi-calendar"
                        showIcon
                        class="w-full"
                    ></p-date-picker>
                    <label for="paymentDate">Payment Date</label>
                </p-iftalabel>

            </div>
        </div>

        <!-- Select Invoices -->
        <div class="py-4">

            <div class="my-3">
                <p-table [value]="selectedInvoicesForPayment" selectionMode="multiple" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Invoice</th>
                            <th>Invoice Date</th>
                            <th>Outstanding</th>
                            <th>Amount Received</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-inv>
                        <tr>
                            <td>{{ inv.invoice_number }}</td>
                            <td>{{ inv.due_date | date: 'yyyy-MM-dd' }}</td>
                            <td>{{ inv.outstanding_balance }}</td>
                            <td>
                                <p-inputNumber [(ngModel)]="inv.amount_received" mode="decimal"
                                               [minFractionDigits]="3"/>
                            </td>
                            <td class="flex-1 flex justify-start">
                                <p-button severity="danger" icon="pi pi-trash" (onClick)="removeSelectedInvoice(inv)"/>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>

                <div class="flex-1 flex justify-start mt-3">
                    <p-button icon="pi pi-plus"
                              label="Add Invoice"
                              [link]="true"
                              (onClick)="showAddInvoiceDialog = true"></p-button>
                </div>

            </div>


            <!-- Reference No -->
            <p-floatlabel class="my-6">
                <input pInputText id="reference_no" [(ngModel)]="referenceNumber"/>
                <label for="reference_no">Reference No</label>
            </p-floatlabel>

            <!-- Remarks -->
            <p-floatlabel>
                <textarea pTextarea id="over_label" [(ngModel)]="remarks" rows="2" style="resize: none" class="h-full w-full"></textarea>
                <label for="over_label">Remarks</label>
            </p-floatlabel>


            <!-- File Upload -->
            <div class="my-6">
                <label>Files</label>
            </div>
            <p-fileupload name="demo"
                          [multiple]="true"
                          accept="image/*,application/pdf"
                          mode="advanced"

                          [customUpload]="true"
                          [showUploadButton]="false"
                          cancelLabel="Clear"
                          (onSelect)="onFilesSelected($event)"
                          (onRemove)="onFileRemove($event)"
                          (onClear)="onClearFiles($event)"
            >
                <ng-template #empty>
                    <div>Drag and drop files to here to upload.</div>
                </ng-template>
            </p-fileupload>

        </div>

        <ng-template #footer>
            <div class="flex gap-4 mt-1 justify-end">
                <p-button icon="pi pi-save" label="Save" [loading]="savingPayment" (onClick)="savePayments()"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

<!--Payment Records Table-->
<p-table #dt
         [lazy]="true"
         [value]="payments"
         [loading]="loading"
         [first]="state.first"
         [showCurrentPageReport]="true"
         [rowHover]="true" dataKey="id"
         (onLazyLoad)="onLazyLoad($event)"
         [rowsPerPageOptions]="[10, 20, 30]"
         [totalRecords]="state.totalRecords"
         [columns]="cols"
         [paginator]="true"
         [rows]="state.rows"
         [tableStyle]="{ 'min-width': '75rem' }"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} payments"
>
    <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            <h5 class="m-0">Payments</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilterDebounced(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Invoice Number</th>
            <th>Payment Date</th>
            <th>Amount Received</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-payment let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="payment" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>{{ payment.invoice_number }}</td>
            <td>{{ payment.payment_date }}</td>
            <td>
                <ng-container *ngIf="editingRowId === payment.id; else displayAmount">
                    <p-inputNumber [(ngModel)]="payment.amount_received"
                                   mode="decimal"
                                   inputStyleClass="w-full"
                                   [minFractionDigits]="3"
                                   [step]="0.010"

                    >
                    </p-inputNumber>
                </ng-container>
                <ng-template #displayAmount>
                  {{ payment.amount_received ? (payment.amount_received | number:'1.3-3') : '0.000' }}
                </ng-template>
            </td>
            <td class="flex gap-2">
                <ng-container *ngIf="editingRowId === payment.id; else actionButtons">
                    <p-button icon="pi pi-check"
                              severity="success"
                              [rounded]="true"
                              [outlined]="true"
                              (onClick)="savePayment(payment)"
                              [loading]="editingRowId === payment.id && saving" />
                    <p-button icon="pi pi-times" severity="secondary" [rounded]="true" [outlined]="true"
                              (onClick)="cancelEdit(payment)" />
                </ng-container>
                <ng-template #actionButtons>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                              (onClick)="editRow(payment)" *hasPermission="CompanyPayments.UPDATE"/>
                    <p-button icon="pi pi-trash"
                              severity="danger"
                              [rounded]="true"
                              [outlined]="true"
                              (onClick)="deletePayment(payment)"
                              *hasPermission="CompanyPayments.DELETE"
                              [loading]="deletingRowId === payment.id && deleting" />
                </ng-template>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="expandedrow" let-payment>
        <tr>
            <td colspan="5">
                <p-card>
                    <div class="flex flex-col md:flex-row gap-5 justify-between">
                        <div class=" space-y-1 w-fit">
                            <div *ngIf="payment.payment_method" class="flex border-b  py-1">
                                <span class="font-bold w-40 ">Payment Method:</span>
                                <span class="pl-2">{{ payment.payment_method }}</span>
                            </div>
                            <div *ngIf="payment.reference_no" class="flex border-b  py-1 ">
                                <span class="font-bold w-40 ">Reference No:</span>
                                <span class="pl-2">{{ payment.reference_no }}</span>
                            </div>
                            <div *ngIf="payment.remarks" class="flex py-1 w-fit">
                                <span class="font-bold w-40 ">Remarks:</span>
                                <span class="pl-2">{{ payment.remarks }}</span>
                            </div>
                        </div>
                        <div *ngIf="payment.files?.length>0" class="">
                            <strong>Files:</strong><br>
                            <div class="flex gap-1 flex-wrap">
                               <a *ngFor="let file of payment.files"
                                  href="{{ file.url }}"
                                  target="_blank"
                                  class="p-button-text p-button-sm flex items-center gap-1"
                                  pTooltip="{{ file.url.split('/').pop() }}"
                                  tooltipPosition="top">
                                   <i class="pi pi-file"></i>
                                   {{ file.url.split('/').pop() }}
                               </a>
                            </div>
                        </div>
                    </div>
                </p-card>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="p-4 !text-center">
                {{formGroup.controls.selectedCompanyId.value ? 'No payments found for the selected company. Try reload' : 'Please select company to show payments.'}}
            </td>
        </tr>
    </ng-template>

</p-table>

<!--Add Payment Dialogue-->
<p-dialog header="Add Payment"
          [(visible)]="showAddInvoiceDialog"
          [modal]="true"
          [style]="{ width: '70vw' }"
          [closable]="false"
          (onHide)="onAddPaymentDialogClose()">

    <ng-container *ngIf="showAddInvoiceDialog">
        <app-add-payment
            [companyId]="formGroup.value.selectedCompanyId"
            [prevSelectedInvoices]="selectedInvoicesForPayment"
            (invoicesSelected)="onInvoiceSelected($event)"
            (closeDialog)="closeAddInvoiceDialog()">
        </app-add-payment>
    </ng-container>
</p-dialog>

<p-toast />
<p-confirm-dialog [style]="{ width: '450px' }" />
